.flag-picker-outer-panel {
    top: 4rem;
    position: relative;
    font-family: serif;
}
.heading {
    color: #1fafd7;
    font-size: 2.3rem;
    font-weight: 400;
}
.sub-heading{
    font-size: 1.8rem;
}